# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-store/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.eslintcache
.cache/
dist/
