.block {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.block li {
  list-style: none;
}

#blockchain-container {
  border: 1px solid #ddd;
  padding: 10px;
}
